<h2>Howdy, All Comments</h2>
<ul>
  {{#each comments}}
    <li>
      <a href="/user/{{authorUsername}}" style="text-decoration: none;">
        <span style="font-size: 1.2em;">{{authorAvatar}}</span>
        <strong style="color: {{authorColor}};">{{author}}</strong> 
      </a>
      ({{createdAt}}): {{text}}
      {{#if authorBio}}
        <br><small style="color: gray; margin-left: 20px;">{{authorBio}}</small>
      {{/if}}
    </li>
  {{else}}
    <li>No comments yet.</li>
  {{/each}}
</ul>

{{#if showPagination}}
  <div style="margin-top: 20px; text-align: center;">
    {{#if hasPrev}}
      <a href="/comments?page={{prevPage}}">&laquo; Previous</a>
    {{/if}}
    
    <span style="margin: 0 10px;">Page {{currentPage}} of {{totalPages}} ({{totalComments}} comments)</span>
    
    {{#if hasNext}}
      <a href="/comments?page={{nextPage}}">Next &raquo;</a>
    {{/if}}
  </div>
{{/if}}

{{#if currentUser}}
  <a href="/comment/new">Post a new comment</a>
{{/if}}
